/* INDEX */
body {
	width: 800px;
	margin: 0 auto;
	background-image: url("afbeeldingen/achtergrond.png");
	font-family: verdana;
	font-size: smaller;
}

.header {
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	background-color: white;
}
#logo {
	background-color: white;
}
#imglogo {
	width: 100px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#textcolor {
	color: rgb(80, 133, 230);
}
#nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: rgb(80, 133, 230);
	padding: 10px 0;
}

#video {
	width: 800px;
}

.flexparent {
	background-color: rgb(80, 133, 230);
	width: 800px;
	float: left;
	display: flex;
}
.flexchild {
	width: 700px;
	display: inline-block;
}
#imgflex {
	width: 200px;
	height: 175px;
	float: right;
}
#pic3 {
	float: right;
	width: 100px;
	height: 175px;
}
#copyright {
	color: black;
	text-align: right;
	margin-top: 170px;
}
#article1 {
	color: black;
}

#article2,
#article3 {
	color: black;
	display: inline-block;
}

#aside {
	float: right;
	width: 220px;
	background-color: rgb(255, 243, 131);
}
.cookie {
	float: right;
	width: 100px;
	bottom: 0;
	background-color: #fa0;
	color: #fff;
	position: fixed;
	padding: 10px;
	opacity: 50%;
}
footer {
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: right;
	color: black;
	background-color: rgb(31, 98, 223);
	float: center;
	bottom: 0;
}

/* CONTACT */
.container {
	background-color: rgb(255, 243, 131);
	padding: 20px;
	display: flex;
	float: left;
}
input[type="text"],
select,
textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type="submit"] {
	background-color: rgb(80, 133, 230);
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	display: flex;
}

input[type="submit"]:hover {
	background-color: rgb(130, 209, 77);
}
#imgflex2 {
	width: 100px;
	height: 75px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* EU SOLAR */
.box {
	background-color: white;
	width: 800px;
	float: left;
	display: flex;
}
#headertext {
	border-style: double;
	border-radius: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#imgflex3 {
	width: 200px;
	height: 175px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#pic33 {
	width: 100px;
	height: 175px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#copyright2 {
	text-align: center;
}

#table table,
th,
td {
	border: 1.5px solid black;
	border-collapse: collapse;
	color: black;
}
#th0 {
	background-color: yellow;
}
#td0 {
	background-color: rgb(199, 253, 163);
}
#td1 {
	background-color: rgb(213, 243, 255);
}
.copyrighttable {
	text-align: center;
	background-color: white;
}
/* HOW SOLAR WORKS*/
.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 30px;
	background-color: #2196f3;
	padding: 10px;
}
.grid-containerimg {
	display: grid;
	grid-template-columns: auto auto auto;
	background-color: rgb(255, 243, 131);
}
#imgflex4 {
	width: 80px;
	height: 130px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#imgflex5 {
	width: 130px;
	height: 130px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
