body {
	margin: 0 auto;
	background-color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: smaller;
}

.header {
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	background-color: #ffffff;
}
#logo {
	background-color: #ffffff;
}
#imglogo {
	width: 100px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.textcolor {
	color: #5085e6;
}
.nav {
	width: 100%;
	background: #5085e6;
	position: relative;
	top: 0;

	padding-top: 10px;
	padding-bottom: 10px;
}
.nav label,
#toggle {
	display: none;
}
#menu {
	display: flex;
	list-style-type: none;
}
#menu a {
	width: 25%;
	padding: 10px;
	color: white;
	text-decoration: none;
	text-align: center;
}
#menu a:hover {
	background: #ff5b4d;
}
.box {
	background-color: #ffffff;
	width: 100%;
	float: left;
	display: flex;
	line-height: 1.6;
}
#headertext {
	font-family: "Notable", sans-serif;
	border-style: double;
	border-color: #000000;
	border-width: 5px;
	border-radius: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#imgflex31 {
	width: 200px;
	height: 175px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#imgflex32 {
	width: 200px;
	height: 175px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#imgflex33 {
	width: 100px;
	height: 175px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.copyright21 {
	text-align: center;
}
.copyright2 {
	text-align: center;
}
#aside {
	float: right;
	width: 100%;
	background-color: #fff383;
	word-spacing: 4px;
}
.gridaside {
	display: grid;
	grid-template-areas:
		"asideimg1"
		"asideimg2"
		"asideimg3";
	grid-gap: 10px;
	margin: 10px;
}
.asideimg1 {
	grid-area: asideimg1;
	background: #fff383;
}
.asideimg2 {
	grid-area: asideimg2;
	background: #fff383;
}
.asideimg3 {
	grid-area: asideimg3;
	background: #fff383;
}
#table table,
th,
td {
	border: 1.5px solid #000000;
	border-collapse: collapse;
	color: #000000;
	width: 100%;
}
.th0 {
	background-color: #ffff00;
}
.td0 {
	background-color: #c7fda3;
}
.td1 {
	background-color: #d5f3ff;
}
.copyrighttable {
	text-align: left;
	background-color: #ffffff;
	letter-spacing: 2px;
	grid-area: copyrighttable;
}
.copyright23 {
	text-align: left;
}

.cookie {
	float: right;
	width: 100px;
	bottom: 0;
	right: 0;
	background-color: #fa0;
	color: #fff;
	position: fixed;
	padding: 10px;
	opacity: 50%;
	z-index: 9999;
}
footer {
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: left;
	color: #000000;
	background-color: #1f62df;
	bottom: 0;
	letter-spacing: 2px;
}
/*mobiel*/

@media screen and (max-width: 480px) {
	.nav label {
		display: inline-block;
		color: #000000;
		font-style: normal;
		font-size: 1.9em;
		padding: 10px;
	}
	#menu a {
		box-sizing: border-box;
		display: block;
		width: 100%;
		border-top: 1px solid #000000;
	}
	#menu {
		display: none;
	}
	.nav input:checked + #menu {
		display: block;
	}

	.box,
	#aside {
		display: inline-block;
		width: 100%;
		float: left;
	}
	.copyrighttable {
		display: inline-block;
	}
	#headertext {
		display: none;
	}
	#imglogo {
		display: none;
	}
	#imgflex31 {
		display: none;
	}
	#table > tbody > tr > :nth-child(8) {
		display: none;
	}
	#table > tbody > tr > :nth-child(9) {
		display: none;
	}
}

/*tablet*/
@media screen and (min-width: 481px) and (max-width: 1179px) {
	.box {
		display: grid;
		text-align: center;
		width: auto;
	}
	#imgflex32 {
		text-align: left;
	}
	.copyright21 {
		display: none;
	}
	#imgflex31 {
		display: none;
	}
	.gridaside {
		display: grid;
		grid-template-areas: "asideimg2 asideimg3";
		grid-gap: 10px;
		margin: 10px;
	}
	#table {
		width: 75%;
	}
	#table > tbody > tr > :nth-child(8) {
		display: none;
	}
	#table > tbody > tr > :nth-child(9) {
		display: none;
	}
}
