/* HOW SOLAR WORKS*/
body {
	margin: 0 auto;
	background-color: #5085e6;
	font-family: Arial, Helvetica, sans-serif;
	font-size: smaller;
}

.header {
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	background-color: #ffffff;
}
#logo {
	background-color: #ffffff;
}
#imglogo {
	width: 100px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.textcolor {
	color: #5085e6;
}
.nav {
	width: 100%;
	background: #5085e6;
	position: relative;
	top: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}
.nav label,
#toggle {
	display: none;
	margin-left: 90%;
}
#menu {
	display: flex;
	list-style-type: none;
}
#menu a {
	width: 25%;
	padding: 10px;
	color: white;
	text-decoration: none;
	text-align: center;
}
#menu a:hover {
	background: #ff5b4d;
}
.grid-container {
	display: grid;
	grid-template-areas:
		"article2 article1 article3"
		"article5 article1 article4"
		"article5 article6 article6";
	grid-gap: 10px;
	margin: 10px;
}
.article1 {
	grid-area: article1;
	background: #fff383;
}
.article2 {
	grid-area: article2;
	background: #fff383;
}
.article3 {
	grid-area: article3;
	background: #fff383;
}
.article4 {
	grid-area: article4;
	background: #fff383;
}
.article5 {
	grid-area: article5;
	background: #fff383;
}
.article6 {
	grid-area: article6;
	background: #fff383;
}
.grid-containerimg {
	display: grid;
	grid-template-columns: auto auto auto;
	background-color: #fff383;
}
#imgflex4 {
	width: 80px;
	height: 130px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#imgflex51 {
	width: 130px;
	height: 130px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#imgflex52 {
	width: 130px;
	height: 130px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.copyright2 {
	text-align: center;
}
.copyright21 {
	text-align: center;
}
.copyright22 {
	text-align: center;
}
.cookie {
	float: right;
	width: 100px;
	bottom: 0;
	right: 0;
	background-color: #fa0;
	color: #fff;
	position: fixed;
	padding: 10px;
	opacity: 50%;
	z-index: 9999;
}
footer {
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: left;
	color: #000000;
	background-color: #1f62df;
	bottom: 0;
	letter-spacing: 2px;
}

/*mobiel*/
@media screen and (max-width: 480px) {
	.nav label {
		display: inline-block;
		color: #000000;
		font-style: normal;
		font-size: 1.9em;
		padding: 10px;
	}
	#menu a {
		box-sizing: border-box;
		display: block;
		width: 100%;
		border-top: 1px solid #000000;
	}
	#menu {
		display: none;
	}
	.nav input:checked + #menu {
		display: block;
	}
	.grid-container {
		display: grid;
		grid-template-areas:
			"article5"
			"article3"
			"article2"
			"article1";
		grid-gap: 10px;
		margin: 10px;
	}
	.article4,
	.article6 {
		display: none;
	}
	.grid-containerimg {
		grid-template-rows: auto;
		display: inline-block;
		width: 100%;
		background-color: #fff383;
	}
	.copyright2 {
		display: none;
	}
	#imglogo {
		display: none;
	}
}
/*tablet*/
@media screen and (min-width: 481px) and (max-width: 1179px) {
	.grid-containerimg {
		grid-template-columns: auto auto;
	}
	.grid-container {
		display: grid;
		grid-template-areas:
			"article1 article2"
			"article3 article5"
			"article6 article6";
		grid-gap: 10px;
		margin: 10px;
	}
	#imgflex4,
	.copyright21,
	.copyright22,
	.article4 {
		display: none;
	}
}
